

#weather_function{
    width : 100%;
    display: block;
    box-sizing: border-box;
}

.weather_info{
    border-style: solid;
    border-radius: 10px;
    height : 200px;
    background-color: #D6B9B9;
    color: white;
    text-align: center;
}

.active{
    color: hotpink;
}

.weather_info li: {
    color : red;
}
.weather_info p{
    font-size: 20px;
}

.weather_info li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    
}

.weather_info ul {
    display : flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

.weather_title{
    font-size : 24px;
    margin : 20px auto 10px 0px;
}

.weather_style{
    
    justify-content: space-between;
    display: none;
}

.align{
    display: flex;
    justify-content: space-between;
}

.weather_style1{
    display: flex;
    align-items: center;
    justify-content: center;
    width : 49%;
    height: 300px;
    border-style: solid;
    border-radius: 10px;
    background-color: #F6B081;
    color: white;
}

.weather_style2{
    display: flex;
    align-items: center;
    justify-content: center;
    width : 49%;
    height: 300px;
    border-style: solid;
    border-radius: 10px;
    background-color: #E29898;
    color: white;
}